<section class="hero py-16">
  <div
    class="container mx-auto flex flex-col-reverse md:flex-row gap-6 items-center justify-between"
  >
    <div class="w-1/2">
      <h1 class="text-4xl md:text-6xl font-bold">About Me</h1>
      <h6 class="text md:text-xl">
        <em
          >I am passitionate developer and a recent graduate with a passion for
          creating innovative and user-friendly website. As a budding web
          developer, I am excited to embark on a journey to contribute my skills
          to the dynamic world of web development.During my academic journey, I
          honed my skills in front-end and back-end development, gaining
          hands-on experience with technologies such as HTML, CSS, JavaScript,
          and Node.js.
        </em>
      </h6>

      <button
        class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary"
      >
        <a href="">Github</a>
      </button>
      <button
        class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary"
      >
        <a href="">Resume</a>
      </button>
    </div>
    <div class="">
      <img src="./img/prabhuimage.jpg" alt="" />
    </div>
  </div>
</section>

<div class="hero py-24 sm:py-12">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7">
        <a
          href="https://github.com/vishalprabhu2018/pizza-project"
          class="primary"
          target="_blank"
          >Please Click here to view the code of this project</a
        >
      </h2>
      <p
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Know About this project.
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        It is a dynamic web app which is used to order the pizza. With the help
        of this user can easily order the pizza and track their order which they
        had made. I also has a admin panel where admin can see the order and set
        the status of the order
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
      >
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            EJS Template
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            In this Project I had used ejs template with the help of laravel mix
            webpack. With the help of this we can embedded our plain javascript
            in our html file and thus make our page dynamic.
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            NODE JS
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            For the backend I had used nodejs and it's various dependencies like
            express, flash, passport etc and many more. As NodeJs is an
            unopinionated framework thus it helped me this project.
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            MonogoDB
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">
            The database I had used here is MongoDB. It is a document based
            database. It is very easy to use and a fast database.
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
